.nav-link {
    list-style: none;
    
}

img {
    border-radius: 5px;
    width: 5%;
    height: auto;
    object-fit: cover;
    margin: 30px;
    }

.rsl {
          margin-top: 50px; 
      }
     
.rsl:hover {
        border: 7px solid #4778b1;
      }


